* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    --custom-primary-color: #427D9D;
    --custom-hover-color: #9BBEC8;
    --text-color: #fff;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-size: 1.8rem;
    color: #427D9D;
}

.navbar-brand:hover {
    color: #9BBEC8;
    transition: 0.3s ease-in-out;
}

.nav-link {
    color: #427D9D;
}

.nav-link:hover {
    color: #9BBEC8;
    transition: 0.3s ease-in-out;
}

.nav-item {
    gap: 0.8rem;
    padding: 8px;
}

.btn-custom {
    background-color: var(--custom-primary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--custom-hover-color);
    color: var(--text-color);
}

.navbar-custom {
    background-color: var(--custom-primary-color);
}

.log-reg-btn {
    outline: none;
    gap: 0.5rem;
}

.reg-btn {
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    width: 100px;
}

.reg-btn :hover {
    transition: 0.3s ease-in-out;
}

.log-btn {
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    width: 100px;
}

.log-btn :hover {
    transition: 0.3s ease-in-out;
}

.navbar-toggler {
    background-color: var(--custom-primary-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-toggler-collapse {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-toggler:hover .navbar-toggler-icon {
    color: var(--custom-hover-color);
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: var(--custom-hover-color);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

h1, h2, h3 {
    color: var(--custom-primary-color);
}

p {
    color: #333;
}

.container {
    margin-top: 50px;
    max-width: 960px;
}

.list-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group-item {
    border: none;
}

.list-group-item-heading {
    color: #333;
    font-weight: bold;
}

.btn-custom {
    background-color: var(--custom-primary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--custom-hover-color);
    color: var(--text-color);
}