.title h1{
    position: absolute;
    left: 2%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    --custom-primary-color: #427D9D;
    --custom-hover-color: #9BBEC8;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 3em;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg-image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
}

.login-heading {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    width: 100%;
    background-color: rgb(104, 164, 180);
}

.btn-login:hover{
    background-color: rgb(238, 238, 238);
    color: #5e5e5e;
}

.forgot-password {
    margin-left: auto;
}

.text-center img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}
