* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    --custom-primary-color: #427D9D;
    --custom-hover-color: #9BBEC8;
    --text-color: #fff;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-size: 1.8rem;
    color: #427D9D;
}

.navbar-brand:hover {
    color: #9BBEC8;
    transition: 0.3s ease-in-out;
}

.nav-link {
    color: #427D9D;

}

.nav-link:hover {
    color: #9BBEC8;
    transition: 0.3s ease-in-out;
}

.nav-item {
    gap: 0.8rem;
    padding: 8px;
}

.btn-custom {
    background-color: var(--custom-primary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--custom-hover-color);
    color: var(--text-color);
}

.navbar-custom {
    background-color: var(--custom-primary-color);
}

.log-reg-btn {
    outline: none;
    gap: 0.5rem;
}

.reg-btn {
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    width: 100px;
}

.reg-btn :hover {
    transition: 0.3s ease-in-out;
}

.log-btn {
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    width: 100px;
}

.log-btn :hover {
    transition: 0.3s ease-in-out;
}


.navbar-toggler {
    background-color: var(--custom-primary-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-toggler-collapse {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    color: #fff;

}

.navbar-toggler:hover .navbar-toggler-icon {
    color: var(--custom-hover-color);
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: var(--custom-hover-color);
    transition: background-color 0.3s ease;
}

.container.text-center {
    margin-top: 50px;
}

.search-bar.d-flex {
    margin-top: 50px;
    width: 69.5%;
}

.latestjobs {
    text-align: center;
}

.row {
    padding: 50px;
}

.jobs-list-container {
    max-width: 1000px;
    margin: 20px auto;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1),
        inset 0px 0px 50px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #DDF2FD;
    transition: all 400ms ease;
}

.card-header {
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom: none;
}

.card-body {
    flex-grow: 1;
}

.card-body>div {
    margin: 10px 0px;
}

.job-card {
    min-width: 250px;

}

.card>div {
    padding: 15px;
}

.job-type {
    background: rgba(0, 0, 100, 1);
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border-radius: 5px;
}

.job-title {
    font-size: bold;
    flex-basis: 100%;
}

.job-description {
    font-size: 12px;
    color: #999;
}

.job-posting-details {
    display: flex;
}

.job-posted-time, .job-salary {
    display: flex;
    flex-basis: 50%;
    font-size: 12px;
}

.job-posted-time img, .job-salary img {
    max-width: 12px;
    margin-right: 5px;
}

.card-footer {
    margin-top: 10px;
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    color: #999;
    background: #fff;
}

.company-details {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    flex-grow: 1;

}

.card .company-logo {
    width: 25px;
    margin-right: 5px;
}

.card .location {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.card .location img {
    width: 20px;
    margin-left: -5px;
    opacity: 0.5;
}


.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

}

.jobs-slider {
    display: flex;
    /*   flex-wrap:wrap; */
    justify-content: center;
    padding: 20px 40px;

    margin: 0px auto;
    overflow-x: hidden;
}